.spacer {
  margin-top: 10px;
}

.hspacer {
  margin-left: 20px;
}

.clickable, a {
  cursor: pointer;
}

.u-Hidden {
  display: none;
}

.colDe {
  width: 20px;
}

.colA {
  width: 15px;
}

.colObjet {
  width: 45px;
}

.colDate {
  width: 15px;
}

.heighlightSearch {
  color: #0f0f0f;
  font-weight: bold;
  background-color: #eec89a;
}

tbody tr:hover {
  background-color: #337ab7 !important;
  color: #FFF;
}